.container {
    width: 1280px;
    margin: 0 auto;
}
.logo {
    font-family: ﻿AdobeInvisFont, sans-serif;
    font-size: 80pt;
    margin-top: 10px;
    margin-bottom: 15px;
}
.text-blue {
    color: #4bcaff;
}
.header-nav-item {
    display: inline-block;
}
.header-nav-item:hover {
    background-color:  #222f3a;
    border-left: transparent solid 1px;
    border-right: transparent solid 1px;
}
.header-nav-link {
    color: white;
    text-decoration: none;
    font-size: 24pt;
    padding: 23px 42px;
    display: inline-block;
    font-family: ﻿AdobeInvisFont, sans-serif;
}
.head-menu {
    background-color: #35444f;
    width: 1280px;
    margin: 0 auto;
}
.header-nav {
    margin: 0 auto;

    text-align: center;
}

/*end*/

.left-menu {
    margin: 0 auto;

}
.left-side-bar {
    box-sizing: border-box;
    border: black solid 1px;
    width: 344px;
    margin-top: 50px;
    display: inline-block;
    margin-bottom: 50px;

}
.left-side-bar-link {
    color:  #485863;
    font-family: ﻿AdobeInvisFont, sans-serif;
    text-decoration: none;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
}
.left-side-bar-item:hover {
    background-color: #dcdcdc;;
}
.main-content {
    width: 1280px;
    margin: 0 auto;
}
.left-side-bar-item {
    padding-left: 44px;
}
.active {
    background-color: #dcdcdc;
}
.image {
    padding: 75px 268px 73px 297px;
}
.img-container {
    width: 885px;
    height: 529px;
    box-sizing: border-box;
    border: black solid 1px;
    display: inline-block;
    float: right;
    margin-top: 49px;
}
.text {
    margin-top: 50px;
}
.paragraph {
    font-family: 'Myriad Pro', sans-serif;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
    margin-left: 430px;
    width: 820px;
}
.footer {
    background-color: #b5b9bc;
    text-align: center;
    margin: 0 auto;
}
.footer-item {
    margin-bottom: 30px;

}
.footer-element {
    display: inline-block;
    font-family: 'Myriad Pro', sans-serif;
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    margin-left: 44px;
    padding-bottom: 4px;
}
.footer-element:hover {
    border-bottom: #3181a6 solid 1px;
    color: #3181a6;

}
.copyright {
    font-family: 'Myriad Pro', sans-serif;
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 90px;
    display: inline-block;
    margin-left: 80px;


}
.container-footer {
    width: 1280px;
    margin: 0 auto;

}