.container {
    width: 1280px;
    margin: 0 auto;
}
.menu-list {
    text-align: center;
}
.menu-item {
    display: inline-block;
    margin: 30px 70px;
    text-transform: uppercase;
    font-size: 18pt;
}
.menu-link {
    text-decoration: none;
    color:  #16a085;
    font-weight: 600;
    font-family: ﻿AdobeInvisFont sans-serif;
}
.content {
    font-family: Roboto sans-serif;
    text-align: center;
    color:  #373737;
    width: 1280px;
    height: 450px;
    padding-top: 59px;
    padding-bottom: 94px;
    background-color: #f5f6f7;;
}
.content-title {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 40px;
}
.content-paragraph {
    font-size: 16px;
    font-weight: 900;
    width: 1059px;
    height: 354px;
    margin: 0 auto;
}
.content-paragraph1 {
    margin-bottom: 40px;
}
.btn-container {
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
    margin: 0 auto;
}
.btn-content {
    padding-top: 15px;
}
.btn-link {
    font-family: sans-serif;
    text-transform: uppercase;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    width: 104px;
    height: 10px;
}
.footer {
    height: 100px;
}
.footer-content {
    font-family: Roboto sans-serif;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    padding: 47px 105px 45px 768px;
    width: 408px;
    height: 16px;
}
