body {
    font-family: Roboto, sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
}
.menu-top {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
 .menu-top-item {
    display: inline-block;
}
.menu-top-link {
    font-size: 18px;
    color:  #16a085;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
}
.main-img {
    text-align: center;
}
.content {
    background-color: #f5f6f7;
    padding: 59px 110px 94px 110px;
    text-align: center;
    color:  #373737;

}
.content-title {
    margin-bottom: 34px;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
}

.content-text {
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 26px;
    font-size: 18px;
}

.button {
    padding: 20px 44px 20px 44px;
    border-radius: 3px;
    background-color: #16a085;
    display: inline-block;
    text-decoration: none;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.btn-container {
    text-align: center;
}
.footer {
    padding: 47px 104px 45px;

}
.copyright {
    text-align: right;
    font-weight: 600;
    font-size: 18px;
}